body{
    background-color: #171e21;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border:none;
    background-color: #171E21;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-size: 16px;
}
ul.navbar-nav{

    position: relative;
    margin-right:auto;
    margin-left:auto;
}
.navbar{
    height:50px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
@media (min-width: 768px){
    .navbar-brand{
        display:none;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    
    border-bottom: 1px solid #ffffff !important;
    }
    .navbar-nav>li {
    border-right: 2px solid #ffffff
    }
    .navbar-nav>li:last-of-type {
    border-right: 0px solid #ffffff;
    }
    .navbar-static-top .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-static-top .navbar-nav > li {
        float: none;
    }
    .navbar-static-top .nav > li {
        display: inline;
        padding: 18px 0px 17px;
    }
    .navbar-static-top .nav > li > a {
        display: inline-block;
    }
}
.one-time img{
    max-height:550px;
}
.slideDesc {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-top: -60px;
}
.slick-prev, .slick-next {
    z-index: 100;
}
.one-time .slick-prev {
    left: 15px;
}
.slick-next {
    right: 15px;
}
.slick-list {
    outline: none !important;
}
.slick-slide:focus { outline: none; }

.navbar {  
    margin-bottom: 0px;
}
.featuredBox{
    width:31%;
    height:auto;
    float:left;
    position: relative;
    display: block;
    margin:10px;
}
#gigs .featuredBox, #profile .featuredBox{
    width:46%;
    height:auto;
    float:right;
    position: relative;
    display: block;
    margin:10px;
}
.featuredBox img{
    width:100%;
    max-height:182px;
    position: relative;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
.featuredRow{
    padding: 15px 5% 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 40px 1% 30px;
    background-color: #0c1215;
    box-shadow: 0 0 10px #000;
}
.slick-dots li button::before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: white;
    -webkit-font-smoothing: antialiased;
}
.container h2{
    font-family: 'gartonmedium', serif;
    font-size: 36px;
    color: #9d9d9d;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
}
h3 {
    margin-top: 10px;
    color: #C12222;
}
h4{
    color: #9d9d9d;
    font-style: italic;
}
.next {
    display: block;
    height: 70px;
    width: 30px;
    background-image: url('../img/bgNext1.png');
    background-repeat: no-repeat;
    float:right;
    opacity:.4;
    position: relative;
        right: -41px;
    top: -210px;
}
.prev {
    display: block;
    height: 70px;
    width: 30px;
    background-image: url('../img/bgPrev1.png');
    background-repeat: no-repeat;
    float:left;
    opacity: .4;
    position: relative;
    left: -70px;
    top: -210px;
}
.next:hover{
    opacity: 1;
    cursor: pointer;
}
.prev:hover{
    opacity: 1;
    cursor: pointer;
}
.featuredLink{
    background-color: #C12222;
    text-transform: uppercase;
    color:#ffffff;
    text-align: center;
    padding:10px;
    
    display: block;
    font-size: 16px;
}
.featuredLink:focus{
    outline: none;
}
.featuredLink:hover{
    cursor: pointer;
    color:#9d9d9d;
    text-decoration: none
}
.featuredBox i{
    float:right;
    margin-right: 15px;
    
}
.featuredBox i.fa-thumbs-up{
    color:green;
}
.featuredBox i.fa-thumbs-down{
    color:red;
}
h4.location{
    font-size:16px;
}
header{
    height:100px;
    position: relative;
    width:100%;
    border-bottom: 1px solid #ffffff;
}
header img{
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.footerContainer{
    width:100%;
    height:50px;
    position: relative;
    clear: both;
    border-top:1px solid #fff;
}
.footerContainer p{
    float: left;
    
    margin-top: 15px;
    color:#fff;
}
#gigs h3, #profile h3{
    text-align:center;
}
#gigs h4.location, #profile h4.location{
    
    text-align:center;
}
#gigs .featuredBox i , #profile .featuredBox i{
    float: none;
    margin-left: 5px;
    margin-right: 0px;
}
h1{
    color: #ffffff;
}
.sort{
    position: relative;
    height:40px;
    border-top: 1px solid #9D9D9D;
    border-bottom: 1px solid #9D9D9D;
    margin-top:10px;
    margin-bottom: 10px;
}
.sort p {
    color: #9D9D9D;
    float: right;
    margin-top: 8px;
    margin-right: 5px;
}
#gig_page .container img {
    margin: 20px 50px;
    float: left;
    width: 40%;
}
#gig_page .container h2 {
    font-family: inherit;
    font-size: 36px;
    color: #C12222;
    text-align: left;
    margin-bottom: 11px;
    margin-top: 35px;
}
p.gigDesc{
    color: #ffffff;
    margin-right: 50px;
}
.venue{
    position: relative;
    display: block;
    float: left;
}
.price{
    position: relative;
    display: block;
    float: left;
    margin-left: 10px;
}
p.venue1{
    font-size: 24px;
    margin-left: 60px;
    color: #ffffff;
}
p.price1{
    font-size: 24px;
    margin-left: 95px;
    color: #ffffff;
}
span.venue{
    float: left;
    margin-top: 5px;
    color: #C12222;
    font-size: 18px;
}
span.price{
    float: left;
    margin-top: 5px;
    color: #C12222;
    font-size: 18px;
}
a.likeButton{
    display:       inline-block;
    padding:       8px 20px;
    background:    #c12222;
    color:         #fff;
    font:          normal 700 24px/1 "Noto Sans", sans-serif;
    text-align:    center;
    text-shadow:   none;
    cursor:pointer;
    position: relative;
    float:right;
    margin-right:50px;
}
a.likeButton:hover{
    text-decoration: none;
}
.commentSection {
    position: relative;
    display: block;
    margin-top: 150px;
}
.comment img{
    width:80px !important;
    float:left;
    margin: 20px 30px 20px 50px !important;
}
.comment{
    border-top:1px solid;
    margin-top: 25px;
}
.comment h3{
    margin-top:20px;
}
.comment p{
    color:#ffffff;
    margin-right:50px;
}
textarea.textareaStyle {
    width: 70%;
    top: 20px;
    border: 1px solid #ccc;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    display: block;
    position: relative;
    height: 120px;
    resize: none;
}
.commentSection input.postSubmit, #edit_profile input.postSubmit{
    display:       inline-block;
    padding:       8px 20px;
    background:    #c12222;
    color:         #fff;
    font:          normal 700 24px/1 "Noto Sans", sans-serif;
    text-align:    center;
    text-shadow:   none;
    margin-right: 15%;
    float: right;
    border: none;
    margin-top:30px;
}
.commentSection form{
    height:200px;
    border-top: 1px solid;
}
p.warning{
    color:#c12222;
    float: left;
    margin-left: 15%;
    margin-top:40px;
    display:none;
}
#login {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-family: raleway;
    border: 2px solid #ccc;
    padding: 10px 40px 25px;
    margin-top: 70px;
}
#admin-login h2{
    color:#c12222;
    text-align: center;
}
#admin-login form{
    color: #ffffff;
}
#admin-login input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family: raleway;
    color:#000;
}
#admin-login input[type=submit] {
    width: 100%;
    background-color: #c12222;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#user-login h2{
    color:#c12222;
    text-align: center;
}
#user-login form{
    color: #ffffff;
}
#user-login input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family: raleway;
    color:#000;
}
#user-login input[type=submit] {
    width: 100%;
    background-color: #c12222;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.sideMenu {
    width: 25%;
    float: left;
    height: auto;
    position: relative;
    margin-top: 30px;
    margin-left:10px;
    background-color: #000000;
}
.navToggle {
    margin: 0;
    padding: 15px;
    background-color: #3D4952;
    display: none;
    color: #ffffff;
    font-size: 20px;
}
.sideMenu h3 {
    margin: 0;
    padding: 15px;
    background-color: #3D4952;
    color:#fff;
}
.sideMenuList li {
    padding: 15px;
    background-color: #DADFE0;
    margin: 0px;
    color: #2C343B;
    -o-transition: color .1s ease-out, background .5s ease-in;
    -ms-transition: color .1s ease-out, background .5s ease-in;
    -moz-transition: color .1s ease-out, background .5s ease-in;
    -webkit-transition: color .1s ease-out, background .5s ease-in;
    transition: color .1s ease-out, background .5s ease-in;
}
.sideMenuList li:hover {
    background-color: #D44457;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}
.sideMenuList a:hover {
    text-decoration: none;
}
ul.sideMenuList {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}
.content {
    width: 70%;
    float: right;
    height: auto;
    margin-top:20px;
}
.sideMenu li.current {
    background-color: #D44457;
    cursor: pointer;
    color: #ffffff;
}
.sideContent {
    width: 28%;
    float: left;
    height: auto;
    margin-top: 20px;
}
.sideContent img{
    max-width:90%;
    position: relative;
    display: block;
    margin:10px auto;
}
.sideContent h3{
    text-align: center;
    font-size: 30px;
}
.sideContent p{
    color:#ffffff;
}
a.editProfile{
    color:#c12222;
    float:left;
    margin-top: 8px;
    margin-left: 5px;
}
img.editProfileImg{
    width:250px;
    position: relative;
    display: block;
    margin:10px auto;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
        display: block;
    max-width: 120px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.btn-primary {
    color: #fff;
    background-color: #c12222;
    border-color: #c12223
}
.btn-primary:hover {
    color: #fff;
    background-color: #c12222;
}
.btn{
    border-radius:0px;
    font:          normal 700 24px/1 "Noto Sans", sans-serif;
    text-align:    center;
    text-shadow:   none;
}